{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "2",
        "useBuiltIns": "usage"
      },
      "react"
    ],
    //react 17的新转换,无需再引入React来转换jsx
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": 2 }],
    "react-hot-loader/babel" //  React 模块热替换
  ]
}
